# Python build/dist artifacts
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables (Sensitive info!)
.env
.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/

# Testing
.pytest_cache/
.coverage
htmlcov/
engine/info.log
engine/state.json
# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

.vscode/*
!.vscode/settings.json
!.vscode/extensions.jsondocs/
engine/data/